<div class="container">
    <div class="right">
        <button class="object-creator" type="button" aria-label="Create new object">
            <fa-icon [icon]="faPlus"/>
        </button>
        <button class="object-import" type="button" aria-label="Create new object">
            <fa-icon [icon]="faCircleArrowUp"/>
            <span>Import</span>
        </button>
        <button class="object-export" type="button" aria-label="Create new object">
            <fa-icon [icon]="faCircleArrowDown"/>
            <span>Export</span>
        </button>
    </div>
</div>
