<div class="container">
    <div class="right">
        @for(button of leftButtons; track $index) {
            @if (button.label === "Export") {
                <button [class]="button.class" type="button" [attr.aria-label]="button.label" (click)="button.action()" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
                    <fa-icon [icon]="button.icon"></fa-icon>
                    <span>{{ export }}</span>
                </button>
                <div class="dropdown">
                    <button class="dropdown-button" type="button" (click)="this.exportObject()" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
                        <ul class="dropdown-menu" [class.show]="dropdownOpen">
                            <li></li>
                            <li (click)="selectFileFormat('xlsx')"><a>{{ toolbarXlsx }}</a></li>
                            <li (click)="selectFileFormat('csv')"><a>{{ toolbarCsv }}</a></li>
                        </ul>
                    </button>
                </div>
            }
            @else {
                <button [class]="button.class" type="button" [attr.aria-label]="button.label" (click)="button.action()">
                    <fa-icon [icon]="button.icon"></fa-icon>
                    @if (button.label !== 'Create new object') {
                        <span>{{ button.label }}</span>
                    }
                </button>
            }
        }
    </div>
    @if(getMainRoute() === "product") {
        <div class="right">
                @for (button of rightButtons; track $index) {
                    @if (button.condition()) {
                        <button class="view-button" type="button" [attr.aria-label]="button.label" (click)="button.action()">
                            <fa-icon [icon]="button.icon"></fa-icon>
                        </button>
                    }
                }
        </div>
    }
</div>
