@if(data) {
    <table>
        <thead>
          <tr>
            <th></th>
            @for(key of keys; track key) {
              <th>{{key}}</th>
            }
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(element of data; track element.id) {
            <tr [class.danger]="!element.available">
              <td><fa-icon [icon]="faPen" size="sm"/></td>
              @for(key of keys; track key) {
                <td>{{element[key]}}</td>
              }
              <td><fa-icon [icon]="faTrash" size="sm"/></td>
            </tr>
          }
        </tbody>
      </table>
  }
  