.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 25px;
    gap: 15px;

    .card {
        display: flex;
        align-items: center;
        height: calc(100% / 3 - 15px);
        width: calc(25% - 15px);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
        background: linear-gradient(100deg, #0f7a94 30%, #fff 30%, #fff);
        justify-content: flex-end;


        .card-content {
            width: 65%;
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        .card-title,
        .card-price {
            font-family: "Exo", sans-serif;
        }

        .card-title {
            font-size: 1em;
            font-weight: 800;
            text-transform: uppercase;
        }

        .card-subtitle {
            font-size: 0.7em;
            font-family: "Montserrat", sans-serif;
            color: #666666;
        }

        .card-price {
            font-size: 1em;
            font-weight: 900;
            color: #0f7a94;
            margin-top: auto;
            align-self: flex-end;

            &::after {
                content: " HT";
                color: black;
                font-weight: 100;
                font-size: 0.5em;
                vertical-align: super;
            }
        }
    }
}

.red-icon {
    position: relative;
    width: fit-content;
    top: -40px;
    right: 60%;
    color: red;
}