<div>
    <h2>{{ title }}</h2>
    <form [formGroup]="productForm" (ngSubmit)="submitForm()">
        @for (field of productForm.controls | keyvalue; track field.key) {
            <div class="form-group">
                <label [for]="field.key">{{ field.key | titlecase }}</label><br/>
                <input type="text" class="form-control" [formControlName]="field.key" [id]="field.key"/>
            </div>
            }
        <button type="submit" class="btn btn-primary">{{ submit }}</button>
    </form>
</div>
